body {
  background-color: #1b7fbd;
  margin: auto;
}
h1 {
  color: #f6ef98;
  font-family: "Swanky and Moo Moo", cursive;
  text-align: right;
  font-weight: 100px;
  font-size: 45px;
}
.fas fa-umbrella {
  color: blue;
}
